{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1> Imagen</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat tempore impedit nemo quaerat sapiente
            error doloribus repudiandae obcaecati fuga vitae minus quidem, amet earum autem maxime, quod atque ipsa
            odit!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/1.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}